section{
    background-color: transparent;
    border: 1px solid black;
    padding-left: 10px;
}
section img{
    width: 80px;
    height: 80px;
    padding-top: 20px;
}
.btn{
    margin-bottom: 10px;
    
}
.p{
    color:red;
}
.nav{
  margin-bottom: 10px;
}