div{
    background-color: rosybrown;
    border: 1px solid royalblue;
    width: 500px;
    display: inline-block;
    text-align: center;
    margin-left: 200px;
    padding-bottom: 20px;
}

.for label{
    display: inline-block;
    width: 150px;
}
.btn{
    background-color: rgb(22, 28, 24);
   border-radius: 20px;
   color: aliceblue;
   border-width: 2px;
   border-style: ridge;
}