.ul{
    display: inline;
   
}
.line{
    display: inline;
    padding: 80px;
}
.j{
    display: block;

}
.div{
    display: block;
}
.uu{
    display: block;
    margin-left: 30px;
}
